vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 May 2007 11:03:18 -0000
vti_extenderversion:SR|6.0.2.6353
vti_author:SR|LANSERCLIENT\\Коляныч
vti_modifiedby:SR|LANSERCLIENT\\Коляныч
vti_timecreated:TR|14 May 2007 11:03:18 -0000
vti_cacheddtm:TX|14 May 2007 11:03:18 -0000
vti_filesize:IR|1200
vti_cachedlinkinfo:VX|S|pictures/menu_fon.jpg S|pictures/fon.jpg
vti_cachedsvcrellinks:VX|FSUS|pictures/menu_fon.jpg FSUS|pictures/fon.jpg
vti_backlinkinfo:VX|pup09.htm pup19.htm pup07.htm pup08.htm pup16.htm pup17.htm pup18.htm foto.htm hat.htm history.htm pup05.htm pup06.htm pup14.htm pup15.htm pup03.htm pup04.htm pup12.htm pup13.htm pup22.htm pup23.htm heroes.htm index.htm pup01.htm pup02.htm pup10.htm pup11.htm pup20.htm pup21.htm all.htm
