vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|ru
vti_approvalapproved:SR|Одобрено
vti_approvaldenied:SR|Отклонено
vti_timecreated:TR|21 Jul 2007 17:41:53 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1251
vti_navbuttonuplabel:SR|Вверх
vti_htmlextensions:SW|.htm.html.asp.aspx.shtml.stm.htt.htx.alx.asa.hta.htc.jsp.cfm.odc.phtml.php.php2.php3.php4.php5.dwt.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|6.0.2.6353
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Назад
vti_navbuttonnextlabel:SR|Далее
vti_approvallevels:VR|Одобрено Отклонено На\\ рассмотрении
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Домашняя
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Путешествие Отчет\\ о\\ расходах Бизнес Соревнование Цели\\ и\\ задачи Идеи Разное Ожидание VIP Выполнение Планирование Расписание
